/* this is ugly but i wanted reusable styles for mantine input components so I dont have to style each one */
.mantine-TextInput-input,
.mantine-Select-input,
.mantine-DateInput-input,
.mantine-Textarea-input {
  border-color: #000000 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}
