/* this is ugly but i wanted reusable styles for mantine input components so I dont have to style each one */
.mantine-TextInput-input,
.mantine-Select-input,
.mantine-DateInput-input,
.mantine-Textarea-input {
  border-color: #000000 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.embla {
  /*overflow: hidden;
  width: 100%;
  height:100%;*/
  padding: 1rem 0;
  margin: 0 auto;
  max-width:600px;
}
.embla__container {
  display: flex;
  /*align-items: center;
  */
  height:100%;
  gap: auto;
}
.embla__slide {
  /*flex: 0 0 auto;
  justify-content: center;
  align-items:center;
  transition: 0.3s ease;
  opacity: 0.9;
  margin: 0 auto;
  padding: 0 0.5%;*/
  
  flex: 0 0 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.embla__slide:hover {
  transform: scale(1.01);
  opacity: 1;
}

/* make sure the image cant be dragged */
.embla__slide img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}
.image-wrapper{
  position: relative;
  /*height: 525px;
  width: 700px;
  margin: 0 auto;*/
  width:100%;
  height:100%;
}
.image-text{
  position: absolute;
  /*top: 20px;*/
  top:5%;
  left: 40%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  background: rgba(144, 138, 138, 0.9);
  padding: 8px 16px;
  border-radius: 12px;
  
  
}

@keyframes slideInFromRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-element {
  /*animation: slideInFromRight 1s ease-out forwards;*/
  width: 100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items:center;
  overflow:hidden;
}

/*simple typing effect, looks neat*/
.typewriter {
  font-size: 2rem;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  width: fit-content;
  animation: typing 3s steps(50, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 27ch;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
