/* this is ugly but i wanted reusable styles for mantine input components so I dont have to style each one */
.mantine-TextInput-input,
.mantine-Select-input,
.mantine-DateInput-input,
.mantine-Textarea-input {
  border-color: #000000 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.embla {
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 600px;
}
.embla__container {
  margin-top: 4%;
  display: flex;
  height: 100%;
  gap: 1rem;
}
.embla__slide {
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  opacity: 0.9;

  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.embla__slide:hover {
  transform: scale(1.01);
  opacity: 1;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  border-radius: 2rem;
  overflow: hidden;
}

.image-text {
  position: absolute;
  top: 30px;
  left: 30px;
  font-weight: bold;
  background: rgba(220, 220, 220, 0.9);
  padding: 6px 10px;
  border-radius: 10px;
}

.slide-element {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*simple typing effect, looks neat*/
.typewriter {
  font-size: 2rem;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  width: fit-content;
  animation: typing 3s steps(50, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 27ch;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.tripPage {
  background-color: rgb(189, 141, 129);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}