/* this is ugly but i wanted reusable styles for mantine input components so I dont have to style each one */
.mantine-TextInput-input,
.mantine-Select-input,
.mantine-DateInput-input,
.mantine-Textarea-input {
  border-color: #000000 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.embla {
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
}
.embla__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.embla__slide {
  flex: 0 0 auto;
  transition: 0.3s ease;
  opacity: 0.9;
  margin: 0 auto;
  padding: 0 0.5%;
}
.embla__slide:hover {
  transform: scale(1.01);
  opacity: 1;
}

/* make sure the image cant be dragged */
.embla__slide img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-element {
  animation: slideInFromRight 1s ease-out forwards;
}

/*simple typing effect, looks neat*/
.typewriter {
  font-size: 2rem;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  width: fit-content;
  animation: typing 3s steps(50, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 27ch;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
